.separator {
    background-color: var(--bg-black);
    color: #484848;
    height: 200px;
}

.separator__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator__text {
    font-size: clamp(1.021rem, -0.0001rem + 5.1067vw, 1.5rem);
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
}